.search {
  border-color: var(--food);
  border-style: solid;

  width: 250px;
}
.orderbutton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: var(--food);
  font-weight: 500;
  margin-left: 870px;
  padding-left: 42px;
  padding-right: 42px;
  cursor: pointer;
  color: white;
}
